// Add Your Frontend site styles here
.main-content.my-cms-content {
    padding: 15px;
}
.table .table__actions {
    opacity: 1 !important;
  }
  .badge {
    color: white;
    padding: 8px 12px;
    border-radius: 13px;
}
.badge-light {
    color: #212529 !important;
    border: 2px solid #212529;
    padding: 6px 10px !important;
}
.login-page .login-wrapper {
    background: linear-gradient(to bottom right, #2d4203, #3bff00);
}
.site-header {
    background-color: #2f9315;
    padding: 8px 15px;
}
.brand-main img {
    height: 46px;
    padding-top: 0px;
}
span.brand-name {
    font-size: 25px;
    color: yellow;
    position: absolute;
    top: 12px;
    padding: 0px 5px;
    /* margin: 15px 0px; */
    /* top: 7px; */
}
.sidebar-left {
    background: #071501;
}